/* global-style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,
.main,
footer {
    max-width: 100%;
    width: 1200px; 
    margin: 0 auto; 
    overflow: hidden;
    width: 100%;
}
/* header */
header {
    padding-left: 65px;
    padding-right: 65px;
}
.header,
.view {
    background-image: url(../img/femili2.jpg);
    /* height: 100vh; */                                    /*????*/                                               
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: #fff;
}   
.rbk {
    display: flex;
    justify-content: space-between; 
    text-align: center;
    padding-top: 60px;
}
.menu input {
    background: transparent;
    color: #fff;
}
.logo {
    text-transform: uppercase;
}
.special {
    outline: none;
    border: none; 
    margin-right: 30px;
}
.special1 {
    border: 2px solid;
    border-color: #fff;
    height: 40px;
    width: 75px;
    border-radius: 20px;
    text-align: center;
} 
@media (max-width: 425px) {
    .rbk  {
        justify-content: center;
        align-items: center;  
        display: flex; 
        flex-direction: column;
    }
    .menu {
        order: 1;
        display: flex;
    }
    .menu input {
        display: flex;
        justify-content: center; 
    }
    .logo {
        order: 2;
        margin-top: 155px;
    }
    header {
        padding: 0;
    }
}
/* view */
.view {
    text-align: center;
    margin-bottom: 95px;  
}
.view h2 {
    padding-top: 120px;
    font-family: serif;
    font-size: 52px ;
}
@media (max-width: 425px) {
    .view h2 {
       padding-top: 45px;     
    }
}
.view p{
    padding-top: 55px;
    padding-bottom: 45px;
    font-family: serif;
    font-size: 24px ;
}
.view input  {
    text-align: center;
    color: rgb(255, 255, 255);
    background: tomato;
    width: 300px;                                             
    height: 55px; 
    border-radius: 20px 20px 20px 20px;
    border: none;
    font-size: 14px;
    margin-bottom: 315px;
}
@media (max-width: 320px) {
    .view input {
        width: 250px;
    }
}
/* teem */
.teem h2 {
    padding-bottom: 40px;
    text-align: center;
    font-family: serif;
    font-size: 22px;
}
.teem ul {
    display: flex;
    justify-content: center;
}
.teem li {
    list-style: none;
}
.teem ul li {
    text-align: center;
    padding-left: 50px;
}
.teem ul li:first-child {
    padding-left: 0px;
}
@media (max-width: 1024px){
     .teem ul {
       flex-wrap: wrap; 
    } 
    .teem ul{
        margin-left: 200px;
        margin-right: 200px;
    }
    .teem ul li:nth-child(3) {
        padding-left: 0px;
    }
    .teem ul li:nth-child(-n+2) {
        margin-bottom: 75px;
    }
}
@media (max-width: 768px) { 
    .teem ul{
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media (max-width: 425px){
    .teem ul img {
        margin-top: 30px; 
    }
    .teem ul li {
        padding-left: 0px;
    }
    .teem ul{
        margin-left: 100px;
        margin-right: 100px;
    }
    .teem ul li:nth-child(-n+2) {
        margin-bottom: 0px;
    }
} 
.teem h3 {
    margin: 20px 0;
    font-size: 14px;
}
.teem ul img {
    border-radius: 50%;
    width: 120px ;
    height: 120px; 
}
 .team-imge {
    position: relative;
}
.team-imge::before {
    content: '';
    background-image: url(../img/femili2.jpg);
    background-size: 100px 100px;
    box-shadow: 1px 1px 5px #000;
    display: block;
    border: 2px solid rgb(102, 62, 9);
    border-radius: 50%;
    right: 16%;
    bottom: 0;
    position: absolute;
    width: 40px;
    height: 40px;
} 
@media (max-width: 375px) {
    .team-imge::before {
        right: 10%;
    }
}
@media (max-width: 320px) {
    .team-imge::before {
        right: 0;
    }
}
/* footer */
footer {
    padding-bottom: 95px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.footer input { 
    color: rgb(255, 0, 0);
    background: transparent;
    border: 3px solid rgb(255, 0, 0);
    width: 300px;                                               
    height: 55px; 
    border-radius: 20px 20px 20px 20px;
}
input:focus {
    outline: none;
}
@media (max-width: 320px) {
    .footer input {
        width: 280px;
    }
}